{% extends "pages/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
     <!-- 
        - #NEWSLETTER
      -->

      <section class="section newsletter">

        <h2 class="h2 section-title">
          Subscribe to <strong class="strong">new posts</strong>
        </h2>

        <p class="p section-title">
            Go to <strong class="strong">Post</strong> page to see some interesting post
        </p>

        <form action="" class="newsletter-form">
          <input type="email" name="email_address" placeholder="Your email address" required class="email-field">

          <button type="submit" class="btn">Subscribe</button>
        </form>

      </section>

{% endblock %}
